// When color definition differs for dark and light variant,
// it gets @if ed depending on $variant


$base_color: #121212;
$text_color: #9e9e9e;
$bg_color: #121212;
$fg_color: #9e9e9e;

$selected_fg_color: #121212;
$selected_bg_color: #702020;
$selected_borders_color: darken($selected_bg_color, 20%);
$borders_color: #262626;

$link_color: #ac4142;
$link_visited_color: darken($link_color, 15%);

$selection_mode_bg: $selected_bg_color;
$selection_mode_fg: $selected_fg_color;
$warning_color: #f4bf75;
$error_color: #ac4142;
$warning_fg_color: #9e9e9e;
$error_fg_color: #9e9e9e;
$success_color: #90a959;
$destructive_color: #ac4142;
$suggested_color: #702020;
$destructive_fg_color: #9e9e9e;
$suggested_fg_color: #9e9e9e;

$drop_target_color: #f4bf75;

//insensitive state derived colors
$insensitive_fg_color: transparentize($fg_color, 0.55);
$insensitive_bg_color: lighten($bg_color, 2%);

$header_bg: #121212;

$header_bg_backdrop: lighten($header_bg, 1.5%);

$header_border: darken($header_bg, 4%);

$header_fg: $fg_color;

$dark_sidebar_bg: #121212;
$dark_sidebar_fg: #9e9e9e;
$dark_sidebar_border: darken($dark_sidebar_bg, 5%);

$osd_fg_color: $dark_sidebar_fg;
$osd_bg_color: $dark_sidebar_bg;

$osd_button_bg: transparentize(lighten($osd_bg_color, 22%), 0.6);
$osd_button_border: transparentize(darken($osd_bg_color, 12%), 0.6);

$osd_entry_bg: transparentize(lighten($osd_bg_color, 22%), 0.6);
$osd_entry_border: transparentize(darken($osd_bg_color, 12%), 0.6);

$osd_insensitive_bg_color: darken($osd_bg_color, 3%);
$osd_insensitive_fg_color: mix($osd_fg_color, opacify($osd_bg_color, 1), 30%);
$osd_borders_color: transparentize(#121212, 0.3);

$panel_bg: darken($dark_sidebar_bg, 4.7%);
$panel_fg: $dark_sidebar_fg;

$entry_bg: lighten($base_color, 0%);
$entry_border: darken($borders_color, 0%);

$header_entry_bg: transparentize(lighten($header_bg, 22%), 0.6);
$header_entry_border: transparentize(darken($header_bg, 12%), 0.6);

$button_bg: lighten($base_color, 2%);
$button_border: $entry_border;

$header_button_bg: transparentize(lighten($header_bg, 22%), 0.6);
$header_button_border: transparentize(darken($header_bg, 12%), 0.6);

//WM Buttons

// Close
$wm_button_close_bg: #702020;
$wm_button_close_hover_bg: #ac4142;
$wm_button_close_active_bg: darken($wm_button_close_hover_bg, 20%);

$wm_icon_close_bg: #121212;

// Minimize, Maximize
$wm_button_hover_bg: #121212;
$wm_button_active_bg: $selected_bg_color;

$wm_button_hover_border: #121212;

$wm_icon_bg: #9e9e9e;
$wm_icon_unfocused_bg: #616161;
$wm_icon_hover_bg: #616161;
$wm_icon_active_bg: $selected_fg_color;
